<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h2>Create a new listing</h2>
            <form action="/listings" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]"
                        placeholder="Enter title"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description"
                        class="form-label">Description</label>
                    <textarea name="listing[description]"
                        class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" name="listing[image.url]"
                        placeholder="Enter img/url link" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" type="number"
                            placeholder="Enter price"
                            class="form-control">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="Country" class="form-label">Country</label>
                        <input type="text" name="listing[country]"
                            placeholder="Enter country" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]"
                        placeholder="Enter location" class="form-control">
                </div>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
        </div>
    </div>
</body>